<div class="container">
  <div class="row">
    <label>Server Name</label>
    <input type="text" class="form-control" [(ngModel)]="serverName" />
  </div>

  <div style="margin-top: 1em;" class="row">
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!allowNewServer"
      (click)="onCreateServer()"
    >
      Add Server
    </button>
  </div>
</div>

<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer"> A New Server Has Been Created ... Name : {{ serverName }}</p>
<!-- Adding Local reference ... else condition for the above if statement -->
<ng-template #noServer>
  <p>No Server Was Created ...</p>
</ng-template>

<app-server></app-server>
<app-server></app-server>
