<div class="container">
  <div class="row">
    <label>Server Name</label>
    <input type="text" class="form-control" [(ngModel)]="serverName" />
  </div>

  <div style="margin-top: 1em;" class="row">
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!allowNewServer"
      (click)="onCreateServer()"
    >
      Add Server
    </button>
  </div>
</div>

<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated"> A New Server Has Been Created ... Name : {{ serverName }}</p>
<app-server></app-server>
<app-server></app-server>
